html {
    background: url(https://tse1.mm.bing.net/th?id=OIP.z7ZG-Kv7ZD3L3r8Ueo0gpwEsC7&pid=15.1) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    color:white;
    padding:0px;
    margin:0px;
    }

    body {
    padding:0em;
    margin:1em;
    background-color: black;
    }

    .description {
    background-color:rgba(200,200,200,0.2);
    padding:1em;
    padding-top:0.5em;
    margin:0em;
    min-width:16em;
    width:0px;
    border-radius:1em;
    }
.thanks{
background-color:rgba(200,200,200,0.2);
    padding:1em;
    padding-top:0.5em;
    margin:0em;
    min-width:16em;
    width:0px;
    border-radius:1em;
position: absolute;
right: 0px;
}

    h1,h2,p {
    margin:0em;
    padding:0em;
    }
