html {
    background: url(https://tse1.mm.bing.net/th?id=OIP.z7ZG-Kv7ZD3L3r8Ueo0gpwEsC7&pid=15.1) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    color:white;
    padding:0px;
    margin:0px;
    }

    body {
    padding:0em;
    margin:1em;
    background-color: black;
    }
}

    h1,h2,p {
    margin:0em;
    padding:0em;
    }
    .description {
    border: solid blue 5px;   
}
    .about {
    border: solid blue 5px;    
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}   
li {
    display: inline;
}
.navbar {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

        
